html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{name}'s movements
    style(type='text/css').
  body(style='margin:20; padding:0; background-color:#F2F2F2;')
  div(style={height:20, background:'#3c8dbc'})
  center 
    label(style='position:absolute; background-color:white; left:19; top: 15; border: 2px solid #3c8dbc; padding:5; border-radius:10px') FinanceApp
    h1 #{name}'s Movements Report
left
    p The summary of your movements completed can be seen below:
    center
      table(width='100%', cellspacing='0', cellpadding='0', border='1', bgcolor='#F2F2F2')
        thead
            tr
              th Date
              th Type
              th Description
              th Wallet
              th Amount
        tbody
          each pm in processedMovements
              tr
                td #{pm.generation_date}
                td #{pm.type}
                td #{pm.description}
                td #{pm.wallet.name}
                td $#{pm.amount}

    div(style='height:20; background-color:#3c8dbc; margin-top:20;')